// color variables
$background-color: #1a1a1a;
$forground-color: #ffffff;
$violet: #6f42c1;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1140px // Changed from 1320px,,
);

// update primary color
$primary: $violet;

// update tooltip color
$tooltip-bg: $forground-color;
$tooltip-color: $background-color;

@import "~bootstrap/scss/bootstrap";
