.link {
  text-decoration: none;
}

.animeListEntry {
  position: relative;
  display: flex;
  justify-content: left;
  gap: 16px;
  align-items: center;

  margin: 24px 32px;
  padding: 12px;
  border-radius: 8px;
  border: none;

  background-color: #282828;
  color: #fff;

  img {
    border-radius: 8px;
    object-fit: cover;
  }

  h4 {
    padding: 0 0 4px;
    margin: 0;
  }
}

.score {
  position: absolute;
  bottom: 8px;
  right: 12px;
}

.coverImage {
  position: relative;
  width: 128px;
  height: 181px;
}
